.overlay {
    position: fixed; /* Sit on top of the page content */
  
    width: 50%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    z-index: 10;
  //   display: none;
  }